.buttonUser {
    box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:4px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
    min-width:16%;
}

    .buttonUser:hover {
        background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
        background-color: #bc3315;
    }

    .buttonUser:active {
        position: relative;
        top: 1px;
    }

#panelUser {
    display: none;
    position: absolute;
    top: 50px;
    right: 0px;
    width: 160px;
    height: 64px;
    background-color: white;
    box-shadow: 0px 0px 8px black;
    border-radius: 0px 0px 0px 4px;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
}

.buttonBuy {
    box-shadow: inset 0px 1px 0px 0px #9acc85;
    background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
    background-color: #74ad5a;
    border: 1px solid #3b6e22;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 4px 12px;
    text-decoration: none;
}

    .buttonBuy:hover {
        background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
        background-color: #68a54b;
    }

    .buttonBuy:active {
        position: relative;
        top: 1px;
    }